<footer>
	<div class="logo"> TARTETANTPION & CO logo</div>
	<div>
	<h3>Liens utiles</h3>
	<ul>
	<li><a href="{{path('app_home')}}">Accueil</a></li>
		<li><a href="/#services">Services</a></li>
	<li><a href="{{path('app_profile')}}">Profile</a></li>
 	</ul></div>
	<div> <h3>Conditions générales</h3></div>
 	<div><h3> Nos réseaux sociaux</h3></div>
</footer>